@model MVCMovie.Models.Condition

@*Search Condition Setting*@
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Search Conditions:</h1>
    </div>
    <div class="panel-body">
        <div class="search">
            <div class="row">
                <div class="col-md-12 btmNagtive5">
                    <label for="inputTitle1">@Html.DisplayNameFor(model => model.titleConds)</label>
                </div>
            </div>
            <div class="row " id="condRow">
                <div class="col-md-3 myrow btmAlgn" id="inputTitleDiv1">
                    <div class="col-md-8 left0">
                        <input type="text" class="form-control top5" id="inputTitle1" placeholder="Keyword" />
                        @*Note:
                            1. The inline-block strategy used allows positioning of the div columns to stay in the flow of the document,
                            while also allowing the use of vertical-align styling. I've included a style for bottom alignment and middle
                            alignment for convenience.
                            2. The following line must not have any whitespace between </div> and <div>
                            because This is because inline-block gives 'space' to any character (including a space character). Essentially,
                            it is because a space character has a given font-size, which ends up pushing the respective right most columns
                            underneath the left most columns. There are hacks to overcome this, but they are note cross-browser compatible,
                            so this solution is hack-free, and works with multiple columns.
                            Refer to http://stackoverflow.com/questions/21630413/bootstrap-3-bottom-align-column-within-row*@
                    </div><div class="col-md-4" id="titleOr1" style="display:none">
                        OR
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="btn-group-justified top5 bottom5">
                        <button class="btn btn-primary btn-xs top5 bottom5" id="addTitle">Add</button>
                        <button class="btn btn-primary btn-xs top5 bottom5" id="removTitle">Remove</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 btmNagtive5">
                    <label for="location1">@Html.DisplayNameFor(model => model.locationConds)</label>
                </div>
            </div>
            <div class="row" id="locationRow">
                <div class="col-md-3 myrow btmAlgn" id="locationDiv1">
                    <div class="col-md-8 left0">
                        <input type="text" class="form-control top5" id="location1" placeholder="City Name">
                    </div><div class="col-md-4" id="locationOr1" style="display:none">
                        OR
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="btn-group-justified top5 bottom5">
                        <button class="btn btn-primary btn-xs top5 bottom5" id="addLocation">Add</button>
                        <button class="btn btn-primary btn-xs top5 bottom5" id="removeLocation">Remove</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox"> Today</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox"> Yesterday </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary" id="setCond" data-id="@ViewBag.siteId">Set Conditions</button>
                </div>
            </div>
        </div>
    </div>
</div>
