@* Note: Use MVCMovie but not MvcMovie at the line below. Otherwise, RecruitingSite can not be found*@
@model MVCMovie.Models.RecruitingSite

@section Scripts{
    @Scripts.Render("/js/SelectElement.js")
}

@section Styles{
    @Styles.Render("/js/SelectElement.css")
    @Styles.Render("/font-awesome-4.7.0/css/font-awesome.min.css")
}


<div class="container">
    @*iframe requests /browser/Index and gets the recruiting site content from the controller which
        can be considered as an internal and secured content so that users are able to get information from the iframe
        Note: border:0 eliminates a very little bit of rest margin between the iframe and the panel border*@
    <div class="panel panel-default" style="border:0" id="iframePanel">
        <div class="panel-body" style="padding:0">
            <div class="col-md-12" style="padding:0">
                <iframe id="myframe" name="myframename" src="/browser/Index/@ViewBag.siteId"
                        style="position: relative; width: 100%;" height="400"></iframe>
            </div>
        </div>
    </div>

    @Html.Partial("ElementSelector", Model)
</div>

<div id="cntnr" class="dropdown clearfix">
    <ul id="items" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li id="itemNode1"><a tabindex="-1" href="#">Job1</a></li>
        <li id="itemNode2"><a tabindex="-1" href="#">Job2</a></li>
        <li id="itemCompany"><a tabindex="-1" href="#">CompanyUnderJob1</a></li>
        <li id="itemOthers"><a tabindex="-1" href="#">OtherInfoUnderJob1</a></li>
        <li id="itemHLight"><a tabindex="-1" href="#">High Light All Jobs</a></li>
        <li class="divider"></li>
        <li id="itemNext"><a tabindex="-1" href="#">Next Page</a></li>
    </ul>
</div>


