@* Note: Use MVCMovie but not MvcMovie at the line below. Otherwise, RecruitingSite can not be found*@
@model MVCMovie.Models.RecruitingSite

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script>
    var cssLink = document.createElement("link")
    cssLink.href = "/js/ContextMenu.css";
    cssLink.rel = "stylesheet";
    cssLink.type = "text/css";
    $('head',document).append(cssLink);
</script>

<script >
    var titleNo = 1;
    var locationNo = 1;
    $(document).ready(function () {
        //var d = $("#myframe")[0].contentDocument; // contentWindow works in IE7 and FF

        //d.open(); d.close(); // must open and close document object to start using it!

        // now start doing normal jQuery:
        //$("body", d).append("<div>A</div><div>B</div><div>C</div>")

        checkIframeLoaded();



        /*var myVar = setTimeout(function () {
            var d = window.frames["myframename"].document;
            $("#demo").html($(d).contents().find("title").html());
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "/js/ContextMenu.js";
            $("head", d).append(script);

            //var doc1 = $("#myframe")[0].contenDocument || $("#myframe")[0].contentWindow.document;
        }, 5000);*/

        //Send email to the stipulated email address
        //debugger;

        $('#startEmail').click(function () {
            //Send credential to the website to store
            var email = { "address": $("#email").val(), "password": $('#password').val() };
            var credential = JSON.stringify(email);

            $.ajax({
                type: "POST",
                url: "/Email/TurnOnsend",
                data: credential,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    alert(msg);
                }
            });
        });

        $('#containLinks').click(function () {
            //show the text box to help find job1's link
            if (this.checked) {
                $("#locateJob1Link").removeAttr("disabled");
            }

            if (!this.checked) {
                $("#locateJob1Link").attr("disabled", "disabled")
            }
        });


        $('#addOneCond').click(function () {
            var lastOrId = "#titleOr" + titleNo;
            titleNo++;
            var div1 = '<div class="col-md-3 myrow btmAlgn">';
            var titleDiv = '<div class="col-md-8 left0"><input type="text" class="form-control top5" id="inputTitle'
                + titleNo + '" placeholder="Keyword" /></div>';
            var orDiv = '<div class="col-md-4" id="titleOr' + titleNo + '" style="display:none">OR</div>';
            var endDiv1 = '</div>';
            var condDiv = div1 + titleDiv + orDiv + endDiv1;
            $(lastOrId).show();
            $("#condRow").append(condDiv);
        });

        $('#addLocation').click(function () {
            var lastOrId = "#locationOr" + locationNo;
            locationNo++;
            //var id = "location" + locationNo;
            //$("#locationRow").append('<div class="col-md-1 btmAlgn"><label class="top5">OR</label></div>');
            //var locationNode = '<div class="col-md-2"><input type="text" class="form-control top5" id="' + id + '" placeholder="City Name"></div>';
            //$("#locationRow").append(locationNode);
            var div1 = '<div class="col-md-3 myrow btmAlgn">';
            var locationDiv = '<div class="col-md-8 left0"><input type="text" class="form-control top5" id="location'
                + locationNo + '" placeholder="City Name" /></div>';
            var orDiv = '<div class="col-md-4" id="locationOr' + locationNo + '" style="display:none">OR</div>';
            var endDiv1 = '</div>';
            var locationDiv = div1 + locationDiv + orDiv + endDiv1;
            $(lastOrId).show();
            $("#locationRow").append(locationDiv);
        });

        $('#setCond').click(function () {
            debugger;
            var titleConds = [];
            var locationConds = [];

            for (var i = 1; i <= titleNo; i++) {
                id = "#inputTitle" + i;
                var condition = $(id).val();
                titleConds.push(condition);
            }

            for (var i = 1; i <= locationNo; i++) {
                id = "#location" + i;
                var condition = $(id).val();
                locationConds.push(condition);
            }

            //var titleCondsJson = JSON.stringify(titleConds);
            //var locationCondsJson = JSON.stringify(locationConds);

            var data = JSON.stringify({
                ID: @ViewBag.siteId,
                titleConds: titleConds,
                locationConds: locationConds
            });

            $.ajax({
                type: "POST",
                url: "/Browser/SetCondition",
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    alert(msg);
                }
            });
        });
    });

    function checkIframeLoaded() {
        var d = window.frames["myframename"].document;
        //d.open(); d.close(); // must open and close document object to start using it!

        // now start doing normal jQuery:
        if (d.readyState == 'complete') {
            $("#demo").html($(d).contents().find("title").html());
            var scriptTag = document.createElement('script');
            scriptTag.type = 'text/javascript';
            scriptTag.src = "/js/ContextMenu.js";
            $("head", d).append(scriptTag);

            //Get the values for all the input textarea from the website and set their values
            //First set job1 and job2
            var doc1 = $("#myframe")[0].contenDocument || $("#myframe")[0].contentWindow.document;
            var listOfNodes = [];
            var pathNode = new Object();
            var listPostions = [];

            var siteId = { "siteId": @ViewBag.siteId };
            var siteIdJson = JSON.stringify(siteId);

            $.ajax({
                type: "POST",
                url: "/Browser/GetJobs",
                data: siteIdJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (lp) {
                    listOfNodes = lp;

                    if ( listOfNodes!=null ) {
                        //Get the job1 node
                        var i;
                        var parent1 = doc1;
                        var node1;

                        //Get to the job1
                        for (i = listOfNodes.length-1; i>=0 ; i--) {
                            node1 = $(parent1).children().eq(listOfNodes[i].position);
                            parent1 = node1;
                        }

                        $("#node1").text($(node1).prop('outerHTML'));

                        //Get the link elment of job1
                        $.ajax({
                            type: "POST",
                            url: "/Browser/GetLevelNo",
                            data: siteIdJson,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                if(result!=null){
                                    var levelNo = result;
                                }

                                var linkOfJob1 = node1;
                                for(i = 0; i<levelNo;i++){
                                    linkOfJob1 = $(linkOfJob1).parent();
                                }
                                $("#job1link").text($(linkOfJob1).prop('outerHTML'));
                            }

                        });
                    }
                }
            });

            //Get and set Job2 input area
            $.ajax({
                type: "POST",
                url: "/Browser/GetJob2",
                data: siteIdJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (lp) {
                    listOfNodes = lp;
                    var node1 = getNode(lp);
                    $("#node2").text($(node1).prop('outerHTML'));
                }
            });

            //Get and set Next input area
            $.ajax({
                type: "POST",
                url: "/Browser/GetNext",
                data: siteIdJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (lp) {
                    listOfNodes = lp;
                    var node = getNode(lp);
                    $("#nextPage").text($(node).prop('outerHTML'));
                }
            });

            //Get and set Company input area
            $.ajax({
                type: "POST",
                url: "/Browser/GetCompany",
                data: siteIdJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (lp) {
                    listOfNodes = lp;
                    var node = getNode(lp);
                    $("#company").text($(node).prop('outerHTML'));
                }
            });

            //Get and set Company input area
            $.ajax({
                type: "POST",
                url: "/Browser/GetOthers",
                data: siteIdJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (lp) {
                    listOfNodes = lp;
                    var node = getNode(lp);
                    $("#others").text($(node).prop('outerHTML'));
                }
            });

            //Get and set Check box for whether it contains job links
            debugger;
            $.ajax({
                type: "POST",
                url: "/Browser/GetIsContainJobLink",
                data: siteIdJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (rv) {
                    var isContainJobLink = rv;
                    if (isContainJobLink){
                        $("#containLinks")[0].checked = true;
                    }
                    else{
                        $("#containLinks")[0].checked = false;
                    }
                }
            });

            return;
        }

        window.setTimeout('checkIframeLoaded();', 100);

    }

    function getNode(listOfNodes){
        var i;
        var parent1 = doc1;
        var node1;

        if ( listOfNodes!=null ) {
            for (i = listOfNodes.length-1; i>=0 ; i--) {
                node1 = $(parent1).children().eq(listOfNodes[i]);
                parent1 = node1;
            }
        }

        return node1;
    }

</script >

<style>
    .buttonBox {
        position: absolute;     @*relative to the bottom of its container element*@
        bottom:0;
        right:0;
    }

    .myrow > *
    {
        float: none;
        position: relative;
        display: inline-block;   @*Displays an element as an inline-level block container. The inside of this block is 
                                 formatted as block-level box, and the element itself is formatted as an inline-level box *@
    }

    .btmAlgn > *{
        vertical-align: bottom;
    }

    .middleAlgn > *{
        vertical-align: middle;
    }

    .bd{
        border-style: solid;
    }

    .btm0{      @*This works for align OR with title textbox at bottom too, but this is worse than the combination of .myrow and .btmAlgn*@
        position: absolute;
        bottom:0;
    }

    .btmNagtive5{
        position:relative;  @*relative to normal position*@
        bottom:-5px;
    }

    .pad0{
        padding:0;
    }

    .top5 
    { 
        margin-top:5%; 
    }
    .top10 
    { 
        margin-top:10%; 
    }
    .top20 
    { 
        margin-top:20%; 
    }
    .top50 
    { 
        margin-top:50%; 
    }

    .bottom5{
        margin-bottom: 5px;
    }

    .fsize50{
        font-size: 50%;
    }

    .myspan {
    width:30px;
    margin-right:20px;
    }

    .left0{
        padding-left:0      @*Note: margin-left:0 doesn't work here since margin-left is already 0
                               alwary try this two when it's not working*@
    }

    .padBottm0{
        padding-bottom:0;
        margin-bottom:-20px;
    }

      .row 
      {
        position: relative;
      }


</style>


@*iframe requests /browser/Index and gets the recruiting site content from the controller which 
    can be considered as an internal and secured content so that users are able to get information from the iframe*@
<iframe id="myframe" name="myframename" src="/browser/Index/@ViewBag.siteId" width="1200" height="400"></iframe>
<p id="demo">TEST</p>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Specify Elements for Auto Searching: </div>
        <div class="panel-body">
            <form>
                <fieldset disabled="disabled">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Job1</span>
                                <textarea id="node1" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Job2</span>
                                <textarea id="node2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Next<br /> Page</span>
                                <textarea id="nextPage" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Company</span>
                                <textarea id="company" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Others</span>
                                <textarea id="others" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox" id="containLinks"> Contain job links in email</label>
                    </div>
                </div>
            </div>

            <fieldset disabled="disabled" id="locateJob1Link">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Job1</span>
                            <textarea id="job1link" class="form-control"></textarea>
                        </div>
                    </div>
                    @*here must be col-md-8, othewise the button will not next the textarea.
                        The btn-primary will take care of the button width*@
                    <div class="col-md-8 buttonBox">
                        <div class="btn-group-vertical">
                            <button id="goUp" class="btn btn-primary btn-xs">Go up one level</button>
                            <button id="goDown" class="btn btn-primary btn-xs">Go down one level</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


    @*Search Condition Setting*@
    <div class="panel panel-default">
        <div class="panel-heading">Search Conditions:</div>
        <div class="panel-body">
            <div class="search">
                <div class="row">
                    <div class="col-md-12 btmNagtive5">
                        <label for="inputTitle1">Job Title</label>
                    </div>
                </div>
                <div class="row " id="condRow">
                    <div class="col-md-3 myrow btmAlgn">
                        <div class="col-md-8 left0">
                            <input type="text" class="form-control top5" id="inputTitle1" placeholder="Keyword" />
                            @*Note: 
                                1. The inline-block strategy used allows positioning of the div columns to stay in the flow of the document, 
                                while also allowing the use of vertical-align styling. I've included a style for bottom alignment and middle 
                                alignment for convenience.
                                2. The following line must not have any whitespace between </div> and <div>
                                because This is because inline-block gives 'space' to any character (including a space character). Essentially, 
                                it is because a space character has a given font-size, which ends up pushing the respective right most columns 
                                underneath the left most columns. There are hacks to overcome this, but they are note cross-browser compatible, 
                                so this solution is hack-free, and works with multiple columns.
                                Refer to http://stackoverflow.com/questions/21630413/bootstrap-3-bottom-align-column-within-row*@
                        </div><div class="col-md-4" id="titleOr1" style="display:none">
                            OR
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-xs top5 bottom5" id="addOneCond">Add One</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 btmNagtive5">
                        <label for="location1">Location</label>
                    </div>
                </div>
                <div class="row" id="locationRow">
                    <div class="col-md-3 myrow btmAlgn">
                        <div class="col-md-8 left0">
                            <input type="text" class="form-control top5" id="location1" placeholder="City Name">
                        </div><div class="col-md-4" id="locationOr1" style="display:none">
                            OR
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-xs top5 bottom5" id="addLocation">Add One</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label><input type="checkbox"> Today</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label><input type="checkbox"> Yesterday </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" id="setCond">Set Conditions</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Email Setting*@
    <div class="panel panel-default">
        <div class="panel-heading">Email Setting:</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input id="email" class="form-control" value="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Password</span>
                        <input id="password" type="password" class="form-control" value="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <button id="startEmail" class="btn btn-primary">Turn on Sending Email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="cntnr" class="dropdown clearfix">
    <ul id="items" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li id="itemNode1"><a tabindex="-1" href="#">Job1</a></li>
        <li id="itemNode2"><a tabindex="-1" href="#">Job2</a></li>
        <li id="itemCompany"><a tabindex="-1" href="#">CompanyUnderJob1</a></li>
        <li id="itemOthers"><a tabindex="-1" href="#">OtherInfoUnderJob1</a></li>
        <li id="itemHLight"><a tabindex="-1" href="#">High Light All Jobs</a></li>
        <li class="divider"></li>
        <li id="itemNext"><a tabindex="-1" href="#">Next Page</a></li>
    </ul>
</div>

<span id="op">TEST</span>

