@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var cssLink = document.createElement("link")
    cssLink.href = "/js/ContextMenu.css";
    cssLink.rel = "stylesheet";
    cssLink.type = "text/css";
    $('head',document).append(cssLink);
</script>

<script >
    var titleNo = 1;
    var locationNo = 1;
    $(document).ready(function () {
        //var d = $("#myframe")[0].contentDocument; // contentWindow works in IE7 and FF

        //d.open(); d.close(); // must open and close document object to start using it!

        // now start doing normal jQuery:
        //$("body", d).append("<div>A</div><div>B</div><div>C</div>")

        checkIframeLoaded();


        /*var myVar = setTimeout(function () {
            var d = window.frames["myframename"].document;
            $("#demo").html($(d).contents().find("title").html());
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "/js/ContextMenu.js";
            $("head", d).append(script);

            //var doc1 = $("#myframe")[0].contenDocument || $("#myframe")[0].contentWindow.document;
        }, 5000);*/

        //Send email to the stipulated email address
        //debugger;

        $('#startEmail').click(function () {
            //Send credential to the website to store
            var email = { "address": $("#email").val(), "password": $('#password').val() };
            var credential = JSON.stringify(email);

            $.ajax({
                type: "POST",
                url: "/Email/TurnOnsend",
                data: credential,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    alert(msg);
                }
            });
        });

        $('#containLinks').click(function () {
            //show the text box to help find job1's link
            if (this.checked) {
                $("#locateJob1Link").removeAttr("disabled");
            }

            if (!this.checked) {
                $("#locateJob1Link").attr("disabled", "disabled")
            }
        });

        
        $('#addOneCond').click(function () {
            titleNo++;
            var id = "inputTitle" + titleNo;
            $("#condRow").append('<div class="col-md-1"><label for="inputTitle">OR</label></div>');
            var inputNode = '<div class="col-md-2"><input type="text" class="form-control" id="' + id + '" placeholder="Keyword"></div>';
            $("#condRow").append(inputNode);

        });
        
        $('#addLocation').click(function () {
            locationNo++;
            var id = "location" + locationNo;
            $("#locationRow").append('<div class="col-md-1"><label for="inputTitle">OR</label></div>');
            var locationNode = '<div class="col-md-2"><input type="text" class="form-control" id="' + locationNo + '" placeholder="Vancouver"></div>';
            $("#locationRow").append(locationNode);
        });

        $('#setCond').click(function () {
            debugger;
            var titleConds = [];
            for (var i = 1; i <= titleNo; i++) {
                id = "#inputTitle" + i;
                var condition = $(id).val();
                titleConds.push(condition);
            }

            var titleCondsJson = JSON.stringify(titleConds);

            $.ajax({
                type: "POST",
                url: "/Browser/SetCondition",
                data: titleCondsJson,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    alert(msg);
                }
            });
        });
    });

    function checkIframeLoaded() {
        var d = window.frames["myframename"].document;
        //d.open(); d.close(); // must open and close document object to start using it!

        // now start doing normal jQuery:
        if (d.readyState == 'complete') {
            $("#demo").html($(d).contents().find("title").html());
            var scriptTag = document.createElement('script');
            scriptTag.type = 'text/javascript';
            scriptTag.src = "/js/ContextMenu.js";
            $("head", d).append(scriptTag);
            return;
        }

        window.setTimeout('checkIframeLoaded();', 100);

    }
</script >

<style>
    .buttonBox {
    position: absolute;
    bottom:0;
    right:0;
    }

    .row {
    position: relative;
    }
</style>



<iframe id="myframe" name="myframename" src="/browser/Index" width="1200" height="400"></iframe>
<p id="demo">TEST</p>

<div class="container">
    <h4>Specify Elements for Auto Searching: </h4>
    <form>
        <fieldset disabled="disabled">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Job1</span>
                        <textarea id="node1" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Job2</span>
                        <textarea id="node2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Next<br /> Page</span>
                        <textarea id="nextPage" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Company</span>
                        <textarea id="company" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Others</span>
                        <textarea id="others" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" id="containLinks"> Contain job links in email</label>
            </div>
        </div>
    </div>

    <fieldset disabled="disabled" id="locateJob1Link">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Job1</span>
                    <textarea id="job1link" class="form-control"></textarea>
                </div>              
            </div>
            @*here must be col-md-8, othewise the button will not next the textarea. 
                The btn-primary will take care of the button width*@
            <div class="col-md-8 buttonBox">
                <div class="btn-group-vertical">
                    <button id="goUp" class="btn btn-primary btn-xs">Go up one level</button>
                    <button id="goDown" class="btn btn-primary btn-xs">Go down one level</button>
                </div>
            </div>
        </div>
    </fieldset>

    @*Search Condition Setting*@
    <br />
    <h4>Search Conditions:</h4>
    <div class="search">
        <div class="row">
            <div class="col-md-2">
                <label for="inputTitle1">Job Title</label>
            </div>
        </div>
        <div class="row" id="condRow">
            <div class="col-md-2">
                <input type="text" class="form-control" id="inputTitle1" placeholder="Keyword">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-xs" id="addOneCond">Add One</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="location1">Location</label>
            </div>
        </div>
        <div class="row" id="locationRow">
            <div class="col-md-2">
                <input type="text" class="form-control" id="location1" placeholder="Keyword">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-xs" id="addLocation">Add One</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="checkbox">
                    <label><input type="checkbox"> Today</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label><input type="checkbox"> Yesterday </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" id="setCond">Set Conditions</button>
            </div>
        </div>
    </div>

    @*Email Setting*@
    <br />
    <h4>Email Setting:</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input id="email" class="form-control" value="" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input id="password" type="password" class="form-control" value="" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <button id="startEmail" class="btn btn-primary">Turn on Sending Email</button>
            </div>
        </div>
    </div>

</div>

<div id="cntnr" class="dropdown clearfix">
    <ul id="items" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li id="itemNode1"><a tabindex="-1" href="#">Job1</a></li>
        <li id="itemNode2"><a tabindex="-1" href="#">Job2</a></li>
        <li id="itemCompany"><a tabindex="-1" href="#">CompanyUnderJob1</a></li>
        <li id="itemOthers"><a tabindex="-1" href="#">OtherInfoUnderJob1</a></li>
        <li id="itemHLight"><a tabindex="-1" href="#">High Light All Jobs</a></li>
        <li class="divider"></li>
        <li id="itemNext"><a tabindex="-1" href="#">Next Page</a></li>
    </ul>
</div>

<span id="op">TEST</span>

