@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<div id="cntnr">
        <ul id="items">
            <li>Item1</li>
            <li>Item2</li>
            <li>Item3</li>
            <li>Item4</li>
            <li>Item5</li>
        </ul>
    </div>*@
<script>
    var cssLink = document.createElement("link")
    cssLink.href = "/js/ContextMenu.css";
    cssLink.rel = "stylesheet";
    cssLink.type = "text/css";
    $('head',document).append(cssLink);
</script>

<script >
    //debugger;
    $(document).ready(function () {
        //var d = $("#myframe")[0].contentDocument; // contentWindow works in IE7 and FF

        //d.open(); d.close(); // must open and close document object to start using it!

        // now start doing normal jQuery:
        //$("body", d).append("<div>A</div><div>B</div><div>C</div>")

        checkIframeLoaded();


        /*var myVar = setTimeout(function () {
            var d = window.frames["myframename"].document;
            $("#demo").html($(d).contents().find("title").html());
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "/js/ContextMenu.js";
            $("head", d).append(script);

            //var doc1 = $("#myframe")[0].contenDocument || $("#myframe")[0].contentWindow.document;
        }, 5000);*/

        //Send email to the stipulated email address
        //debugger;
        var email = { "address": $("#email").val(), "password": $('#password').val() };
        var credential = JSON.stringify(email);
        $('#startEmail').click(function () {
            //Send listPositions to the website to store
            $.ajax({
                type: "POST",
                url: "/Email/TurnOnsend",
                data: credential,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    alert(msg);
                }
            });
        });

    });

    function checkIframeLoaded() {
        var d = window.frames["myframename"].document;
        //d.open(); d.close(); // must open and close document object to start using it!

        // now start doing normal jQuery:
        if (d.readyState == 'complete') {
            $("#demo").html($(d).contents().find("title").html());
            var scriptTag = document.createElement('script');
            scriptTag.type = 'text/javascript';
            scriptTag.src = "/js/ContextMenu.js";
            $("head", d).append(scriptTag);
            return;
        }

        window.setTimeout('checkIframeLoaded();', 100);

    }
</script >



<iframe id="myframe" name="myframename" src="/browser/Index" width="1200" height="400"></iframe>
<p id="demo">TEST</p>

<div class="container">
    <form>
        <fieldset disabled="disabled">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Node1</span>
                        <textarea id="node1" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Node2</span>
                        <textarea id="node2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Next<br /> Page</span>
                        <textarea id="nextPage" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input id="email" class="form-control" value="ligangg@sfu.ca" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input id="password" type="password" class="form-control" value="g740527" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <button id="startEmail" class="btn btn-primary">Turn on Sending Email</button>
            </div>
        </div>
    </div>

</div>

<div id="cntnr" class="dropdown clearfix">
    <ul id="items" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li id="itemNode1"><a tabindex="-1" href="#">Job Node1</a></li>
        <li id="itemNode2"><a tabindex="-1" href="#">Job Node2</a></li>
        <li id="itemHLight"><a tabindex="-1" href="#">High Light All Nodes</a></li>
        <li class="divider"></li>
        <li id="itemNext"><a tabindex="-1" href="#">Next Page</a></li>
    </ul>
</div>

<span id="op">TEST</span>

