<h3>@ViewBag.Message</h3>

<address>
    6878 Southpoint Drive<br />
    Burnaby, BC V3N-5E4<br />
    <abbr title="Phone">P:</abbr>
    778.899.3166
</address>

<address>
    <strong>Support:</strong>   <a href="">frank_guoguo@hotmail.com</a><br />
</address>