<br/><br/>
<div class="row">
    <div class="col-md-12">
        <h4 style="display: inline">Search Rule:&nbsp;&nbsp;&nbsp;</h4>
        <button type="button" class="btn btn-primary btn-sm" (click)="onAddClick()">
            <i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
            Add Criteria
        </button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <form>
            <search-criteria *ngFor="let criteria of rule; let i=index" [model]="criteria" [onDeleteClick]="onDelete"
                             [index]="i">
            </search-criteria>
        </form>
    </div>
</div>
