
<div class="row form-group" *ngIf="model">
    <!--
    <div class="col-md-1">
        <div class="pull-right"><b style="font-size: 150%">{{index + 1}}.</b></div>
    </div>-->

	<div class="col-md-3">
        <ng-select [allowClear]="true"
                   [(ngModel)]="model.fieldName"
                   [items]="fields"
                   placeholder="No field name selected" name="{{'selectFieldName' + index}}" id="selectFieldName">
        </ng-select>
        <div *ngIf="formErrors.criteria.fieldName" class="alert alert-danger">
            {{ formErrors.criteria['selectFieldName' + index] }}
        </div>
	</div>
    <!--
    <div class="col-md-3">
        <ng-select [allowClear]="true"
                   [active]="model._operator ? [{id: model._operator, text: model._operator}] : null"
                   [items]="operators"
                   (data)="refreshOperator($event)"
                   (selected)="selected($event)"
                   (removed)="removed($event)"
                   placeholder="No operator selected" required name='_operator'
                   >
        </ng-select>
    </div>
    <div class="col-md-5">
        <ng-select [multiple]="true"
                   [active]="model.values ? model.values : null"
                   [items]="valuesOptions"
                   (data)="refreshCity($event)"
                   (selected)="selected($event)"
                   (removed)="removed($event)"
                   (typed)="valuesTyped($event)"
                   placeholder="No city selected" required name="values">
        </ng-select>
    </div>
        -->
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-sm" (click)="onDeleteClick(index)">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
            Delete
        </button>
    </div>
</div>
<!--<div class="row form-group" *ngIf="model">
    <div class="col-md-3">
        <input type="text" [(ngModel)]="model.fieldName"
               class="form-control" name='fieldName' id='fieldName'/>
        <div *ngIf="formErrors.criteria.fieldName" class="alert alert-danger">
            {{ formErrors.criteria.fieldName }}
        </div>
     </div>
</div>-->
