<br/><br/>
<form #ruleForm="ngForm"  *ngIf="rule" (ngSubmit)="onSaveClick(ruleForm.form)" novalidate >
    <div class="row form-group">
        <div class="col-md-12">
            <h4 style="display: inline">Search Rule:&nbsp;&nbsp;&nbsp;</h4>
            <button type="button" class="btn btn-primary btn-sm" (click)="onAddClick()">
                <i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
                Add Criteria
            </button>
            &nbsp;
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-floppy-o" aria-hidden="true">&nbsp;</i>
                Save
            </button>
        </div>
    </div>
    <search-criteria *ngFor="let criteria of rule; let i=index" [(ngModel)]="rule[i]" [onDeleteClick]="onDelete" name="{{'criteria'+i}}"
                     [index]="i" [provinces]="provinces"  [formErrors]="formErrors" validateSearchCriteria>
    </search-criteria>
    <!--
    <search-criteria *ngFor="let criteria of rule; let i=index" [model]="criteria" [onDeleteClick]="onDelete"
                        [index]="i" [provinces]="provinces">
    </search-criteria>-->
    <!--<search-criteria [(ngModel)]="rule[0]" validateSearchCriteria [onDeleteClick]="onDelete" name="criteria"
                     [index]="0" [provinces]="provinces" [formErrors]="formErrors">
    </search-criteria>-->
    <!--<div *ngIf="formErrors.criteria" class="alert alert-danger">
        {{ formErrors.criteria.fieldName }}
    </div>-->

    <!--
    <div class="row form-group">
        <div class="col-md-3">
            <input type="text" [(ngModel)]="fieldName" required minlength="10"
                   class="form-control" name='fieldName' id='fieldName' />
            <div *ngIf="formErrors.fieldName" class="alert alert-danger">
                {{ formErrors.fieldName }}
            </div>
        </div>
    </div>-->
</form>
