
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<iframe id="mybrowser"   width="1200" height="400"></iframe>
<label id="label">
    label test
</label>
<p id="demo"></p>

<script>
    /*
    document.getElementById("label").innerHTML = "Paragraph changed!";
    var myIFrame = document.getElementById("mybrowser");
    myIFrame = (myIFrame.contentWindow) ? myIFrame.contentWindow : (myIFrame.contentDocument.document) ? myIFrame.contentDocument.document : myIFrame.contentDocument;
    myIFrame.document.open('text/html', 'replace');

    myIFrame.document.write("TEST");
    myIFrame.document.close();
    */

</script>



